:root {
    --primary-brand: #4d5ae5;
    --dark: #2e2f42;
    --success: #31d0aa;
    --text: #434455;
    --subtletext: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --ftr: #31d0aa;
    --ocean: #404bbf;
    --trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
  }
  
  body {
    font-family: var(--main-font);
    color: var(--text);
    background-color: var(--light);
    font-size: 16px;
    letter-spacing: 0.02em;
  }